/* HTML */
.html
{
    display: flex;
}
/* NAVBAR */
    .navbar-global{
        .navbar{
            background-color: cadetblue !important;    
        }
        .navbar-nav{
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
        } 
    }
