:root {
    --color-ice: #30b7eb;
    --color-ice-hover: #1f6c8b;
}

@font-face {
    font-family: 'Prelo Extra Bold';
    src: url('assets/prelo-extra-bold.woff2') format('woff2'),
        url('assets/prelo-extra-bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

.navbar-btn {
    border-radius: 30px;
    padding: .6em 1.2em;
}

.btn,
.navbar,
footer {
    font-family: 'Nunito', sans-serif;
}

.btn-primary {
    background-color: var(--color-ice) !important;
    border-color: var(--color-ice) !important;
}

.btn-primary:hover {
    background-color: var(--color-ice-hover) !important;
    border-color: var(--color-ice-hover) !important;
}

.btn-outline-primary {
    color: var(--color-ice) !important;
    border-color: var(--color-ice) !important;
}

.btn-outline-primary:hover {
    color: white !important;
    background-color: var(--color-ice) !important;
    border-color: var(--color-ice) !important;
}

.navbar-brand {
    color: #114353;
    font-family: 'Prelo Extra Bold', sans-serif;
    text-transform: lowercase;
    letter-spacing: .25px;
    font-size: 1.4em;
}

.nav-link {
    color: black;
}

hr {
    border-top: var(--bs-border-color) 1px solid;
    opacity: 1;
}

footer a {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link:hover,
footer a:hover {
    color: var(--color-ice) !important;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.social-media-link {
    transition: background-color 0.3s ease;
}

.social-media-link:hover {
    background-color: var(--bs-border-color);
}

#facebook:hover {
    color: #0866FF !important;
}

#instagram:hover {
    color: #EF12D1 !important;
}

#twitter:hover {
    color: #0CA2F3 !important;
}

#youtube:hover {
    color: #FF0033 !important;
}